.header {
  background-color: #f8f9fa; /* Background color of the header*/
  padding: 20px; /* Padding around the header*/
  text-align: center; /* Center align the text in the header*/
}

.title {
  font-size: 2em; /* Font size of the title*/
  color: #333; /* Color of the title*/
}

.subtitle {
  font-size: 1em; /* Font size of the subtitle*/
  color: #666; /* Color of the subtitle*/
}

.Navigation {
  display: flex; /* Display navigation items in a row*/
  justify-content: space-between; /* Space items evenly along the row*/
  margin: 10px; /* Margin around the navigation*/
  background-color: rgb(158, 176, 158); /* Background color of the navigation*/
}

.navigation-link {
  color: blue; /* Color of the navigation links*/
  margin: 0 10px; /* Margin around the navigation links*/
}

.article {
  margin: 20px; /* Margin around the article*/
  padding: 20px; /* Padding inside the article*/
  max-width: 600px; /* Maximum width of the article*/
  background-color: rgb(119, 182, 179); /* Background color of the article*/
  border: 1px solid rgb(19, 59, 46); /* Border of the article*/
}

.articleDetailed {
  display: grid; /* Display article details in a grid layout*/
  grid-template-columns: 2fr 1fr; /* Define the columns of the grid*/
  gap: 20px; /* Gap between grid items*/
  color: #333; /* Color of the article details*/
  background-color: #e6f7ff; /* Background color of the article details*/
  padding: 20px; /* Padding inside the article details*/
  margin: 10px; /* Margin around the article details*/
  border-radius: 5px; /* Border radius of the article details*/
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Box shadow of the article details*/
}

.articleDetailed h2 {
  grid-column: 1 / 2; /* Position the heading in the first column*/
  color: #0b1a2a; /* Color of the heading*/
  background-color: #7bbab4; /* Background color of the heading*/
  padding: 10px; /* Padding inside the heading*/
  margin: 10px; /* Margin around the heading*/
  border-radius: 5px; /* Border radius of the heading*/
}

.articleDetailed p:nth-child(2) {
  grid-column: 1 / 2; /* Position the second paragraph in the first column*/
  font-style: italic; /* Italic style for the second paragraph*/
  background-color: #cceeff; /* Background color of the second paragraph*/
  padding: 10px; /* Padding inside the second paragraph*/
  margin-bottom: 10px; /* Margin bottom of the second paragraph*/
  border-radius: 5px; /* Border radius of the second paragraph*/
}

.articleDetailed p:nth-child(3) {
  grid-column: 2 / 3; /* Position the third paragraph in the second column*/
  background-color: #cceeff; /* Background color of the third paragraph*/
  padding: 10px; /* Padding inside the third paragraph*/
  margin-bottom: 10px; /* Margin bottom of the third paragraph*/
  border-radius: 5px; /* Border radius of the third paragraph*/
}

.articleDetailed p:nth-child(4) {
  grid-column: 1 / 2; /* Position the fourth paragraph in the first column*/
  background-color: #cceeff; /* Background color of the fourth paragraph*/
  padding: 10px; /* Padding inside the fourth paragraph*/
  margin-bottom: 10px; /* Margin bottom of the fourth paragraph*/
  border-radius: 5px; /* Border radius of the fourth paragraph*/
}

.articleDetailed p:nth-child(n + 5) {
  grid-column: 2 / 3; /* Position the remaining paragraphs in the second column*/
  background-color: #cceeff; /* Background color of the remaining paragraphs*/
  padding: 10px; /* Padding inside the remaining paragraphs*/
  margin-bottom: 10px; /* Margin bottom of the remaining paragraphs*/
  border-radius: 5px; /* Border radius of the remaining paragraphs*/
}

.articleDetailed p {
  border: 5px solid #1e5d57; /* Border of the paragraphs*/
}

.comment {
  display: grid; /* Display comments in a grid layout*/
  grid-template-columns: 1fr 0fr 0fr 0fr; /* Define the columns of the grid*/
  gap: 10px; /*sets the gap or spacing between grid items.*/
  background-color: #63aca3; /* Light grey background */
  padding: 10px; /*sets the padding or space inside the element.*/
  margin-bottom: 10px; /* Space between cards */
  border-radius: 20px; /*sets the border radius or the roundness of the element's corners.*/
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.comment p {
  margin: 0; /* Remove default paragraph margins */
}

.comment p span {
  font-weight: bold; /* Make the labels bold */
}

.comment p:nth-child(2) {
  grid-column: 1 / -1; /* Make the comment span all columns */
  margin-bottom: 10px; /* Add space below the comment */
}
